---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import profilePic from "../assets/profile.jpg";
import Project from "../components/Project.astro";

import { getCollection } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allProject = await getCollection("projects");
allProject.sort((b, a) => b.data.order - a.data.order);

const allBlog = (await getCollection("blogs"))
  .filter((blog) => blog.data.published && !blog.data.isArchive)
  .sort((b, a) => a.data.published!.getTime() - b.data.published!.getTime());

const allBlogMetadata = allBlog.map((blog) => {
  const body = blog.body.split("\n");

  //index 0 is frontmatter
  let summary = body[1].trim();

  let i = 2;
  const markdown = /^[!#*>]/;
  const ending = /[\.!?;~:]$/;
  while (
    (summary.match(markdown) || !summary.match(ending)) &&
    i < body.length - 1
  ) {
    if (summary.match(markdown)) summary = body[i].trim();
    else summary += "\n" + body[i].trim();

    i++;
  }

  const readMin = Math.floor(blog.body.split(" ").length / 238);

  return {
    readMin,
    summary,
  };
});
---

<Layout title="Sim Ho">
  <main
    class="overflow-x-hidden flex px-5 py-20 flex-col w-full h-full justify-between gap-10 items-center"
  >
    <div
      class="flex w-full flex-col items-start md:flex-row-reverse justify-evenly max-w-6xl gap-y-12 gap-x-4"
    >
      <section
        class="gap-y-2 items-center flex flex-col h-fit border-slate-800 p-3 rounded-xl md:bg-slate-900 md:border w-full md:w-64 min-w-[16rem]"
      >
        <Image
          src={profilePic}
          alt="Profile pic"
          height={180}
          class="rounded-lg border-slate-700 border-1"
        />
        <div class="flex items-center md:items-start flex-col gap-y-2">
          <p class="text-2xl font-semibold">Hi! I'm Ho Sim.</p>

          <p
            class="flex gap-y-1 flex-col text-center md:text-start text-balance"
          >
            I'm a full-stack software developer, a freelance Korean-English
            translator, and a Computer Science student at University of Central
            Florida. <span></span> I build projects on the side to solve minor,
            sometimes major problems I recognize.
          </p>
          <div class="flex self-center justify-between">
            <!-- <a href="" class="font-semibold text-indigo-400">Learn more</a> -->
            <div class="flex gap-2">
              <a
                aria-label="Github"
                href="https://www.github.com/simhozebs"
                class="icon-[mdi--github] w-6 h-6"
                target="_blank"></a>
              <a
                aria-label="LinkedIn"
                href="https://www.linkedin.com/in/ho-sim"
                target="_blank"
                class="icon-[mdi--linkedin] w-6 h-6"></a>
            </div>
          </div>
        </div>
      </section>

      <section class="flex flex-col gap-y-3 items-center justify-center">
        <div class="text-center flex-col flex gap-1">
          <h2 class="text-5xl font-extrabold">Projects</h2>
          <p class="text-slate-400 text-sm">Click to expand</p>
        </div>

        <div class="flex flex-wrap gap-4 text-center justify-center">
          {
            allProject.map((project) => (
              <Project
                title={project.data.title}
                ref={project.slug.split("/").at(-1) || ""}
                img={project.data.headerImage}
                alt={project.data.headerAlt}
              >
                <p
                  class="text-balance text-center"
                  transition:name={project.data.title + " summary"}
                >
                  {project.data.summary}
                </p>
              </Project>
            ))
          }
        </div>
      </section>
    </div>

    <section class="w-full flex items-center flex-col gap-y-5 max-w-xl">
      <h1 class="text-5xl font-extrabold">Writing</h1>
      {
        allBlog.length ? (
          allBlog.map((blog, i) => (
            <div class="flex w-full flex-col gap-y-1">
              <a
                class="flex flex-col w-full max-w-xl gap-y-2"
                href={"/blogs/" + blog.slug.split("/").at(-1)}
              >
                <h2
                  id={blog.data.title || blog.id.slice(0, -3)}
                  class="text-3xl font-bold"
                  transition:name={blog.data.title || blog.id.slice(0, -3)}
                >
                  {blog.data.title || blog.id.split("/").at(-1)?.slice(0, -3)}
                </h2>

                <div class="flex gap-x-5">
                  <p class="text-sm text-zinc-400">
                    {blog.data.published?.toLocaleDateString()}
                  </p>
                  <p class="text-sm text-zinc-400">
                    ~{allBlogMetadata[i].readMin} min read
                  </p>
                </div>

                <div class="flex flex-col w-full">
                  {blog.data.summary ||
                    allBlogMetadata[i].summary
                      .split("\n")
                      .map((line) => <p class="w-full text-start">{line}</p>)}
                </div>
              </a>
              <a
                class="self-start font-semibold text-indigo-300"
                href={"/blogs/" + blog.slug}
              >
                Read more
              </a>
            </div>
          ))
        ) : (
          <p>Coming soon...</p>
        )
      }
    </section>
  </main>
</Layout>
