---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import profilePic from "../assets/profile.jpg";
import Project from "../components/Project.astro";

import { getCollection } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allProject = await getCollection("projects");
const allBlog = await getCollection("blogs");
allProject.sort((b, a) => b.data.order - a.data.order);
---

<Layout title="Sim Ho">
  <main
    class="overflow-x-auto flex p-5 pb-20 flex-col w-full h-full justify-between gap-10 items-center"
  >
    <div
      class="flex w-full flex-col items-center md:flex-row-reverse justify-evenly max-w-6xl gap-y-12 gap-x-4"
    >
      <section
        class="gap-y-2 items-center flex flex-col h-fit border-slate-800 p-3 rounded-xl md:bg-slate-900 md:border w-full md:w-64 min-w-[16rem]"
      >
        <Image
          src={profilePic}
          alt="Profile pic"
          height={180}
          class="rounded-lg border-slate-700 border-1"
        />
        <div class="flex items-center md:items-start flex-col gap-y-2">
          <p class="text-2xl font-semibold">Hi! I'm Ho Sim.</p>

          <p
            class="flex gap-y-1 flex-col text-center md:text-start text-balance"
          >
            I'm a full-stack software developer, and a freelance Korean-English
            translator and a Computer Science student at University of Central
            Florida. <span></span> I build projects on the side to solve minor,
            sometimes major problems I recognize.
          </p>
          <div class="flex self-center justify-between">
            <!-- <a href="" class="font-semibold text-indigo-400">Learn more</a> -->
            <div class="flex gap-2">
              <a
                aria-label="Github"
                href="https://www.github.com/simhozebs"
                class="icon-[mdi--github] w-6 h-6"
                target="_blank"></a>
              <a
                aria-label="LinkedIn"
                href="https://www.linkedin.com/in/ho-sim"
                target="_blank"
                class="icon-[mdi--linkedin] w-6 h-6"></a>
            </div>
          </div>
        </div>
      </section>

      <section class="flex flex-col gap-y-3 items-center justify-center">
        <div class="text-center flex-col flex gap-1">
          <h2 class="text-5xl font-extrabold">Projects</h2>
          <p class="text-slate-400 text-sm">Click to expand</p>
        </div>

        <div class="flex flex-wrap gap-4 text-center justify-center">
          {
            allProject.map((project) => (
              <Project
                title={project.data.title}
                ref={project.slug}
                img={project.data.headerImage}
              >
                <p
                  class="text-balance text-center"
                  transition:name={project.data.title + " summary"}
                >
                  {project.data.summary}
                </p>
              </Project>
            ))
          }
        </div>
      </section>
    </div>

    <section class="w-full flex items-center flex-col gap-y-5 max-w-4xl">
      <h1 class="text-5xl font-extrabold">Blog</h1>
      {
        allBlog ? (
          allBlog.map((blog) => (
            <a
              class="flex flex-col max-w-xl gap-y-2"
              href={"/blogs/" + blog.slug}
            >
              <h2 class="text-3xl font-bold" transition:name={blog.data.title}>
                {blog.data.title}
              </h2>
              <p class="w-full text-start text-balance">{blog.data.summary}</p>
              <a
                class="font-semibold text-indigo-300"
                href={"/blogs/" + blog.slug}
              >
                Read more
              </a>
            </a>
          ))
        ) : (
          <p>Coming soon...</p>
        )
      }
    </section>
  </main>
</Layout>
