---
import { Image } from "astro:assets";
interface Props {
  textIcon?: string;
  title?: string;
  ref: string;
  img?: ImageMetadata;
}

const { props } = Astro;
---

<a
  transition:name={props.title + " background"}
  class="bg-slate-950 justify-center items-center rounded-xl border-slate-800 px-3 py-3 border max-w-xs gap-2 flex flex-col"
  href={"/projects/" + props.ref}
>
  <div class="flex gap-x-2 items-center">
    {
      props.textIcon ? (
        <div class="p-2 aspect-square text-sm rounded-lg bg-slate-800 text-slate-400">
          {props.textIcon}
        </div>
      ) : null
    }

    {
      props.img ? (
        <Image
          slot="heading"
          src={props.img}
          alt="review summarizer 9000"
          height={36}
          transition:name={props.title}
        />
      ) : (
        <h3 class="text-xl font-bold" transition:name={props.title}>
          {props.title}
        </h3>
      )
    }
  </div>

  <p class="text-balance" transition:name={props.title + " summary"}>
    <slot />
  </p>
</a>
