---
import { Image } from "astro:assets";
interface Props {
  textIcon?: string;
  title?: string;
  ref: string;
  img?: ImageMetadata;
  alt?: string;
}

const { props } = Astro;
---

<a
  class="bg-slate-950 sm:min-w-[20rem] justify-center items-center rounded-xl border-slate-800 px-3 py-3 border max-w-xs gap-2 flex flex-col transition-all hover:scale-105 hover:border-slate-700"
  href={"/projects/" + props.ref}
  transition:name={props.title + " bg"}
>
  <div class="flex gap-x-2 items-center">
    {
      props.textIcon ? (
        <div class="p-2 aspect-square text-sm rounded-lg bg-slate-800 text-slate-400">
          {props.textIcon}
        </div>
      ) : null
    }

    {
      props.img && props.alt ? (
        <Image
          slot="heading"
          src={props.img}
          alt={props.alt}
          transition:name={props.title}
        />
      ) : (
        <h3 class="text-xl font-bold" transition:name={props.title}>
          {props.title}
        </h3>
      )
    }
  </div>

  <slot />
</a>
